/* 	================= 
		LOOKS.CSS
	================= */


/* !!! CSS RESET !!! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 	==============================================
		BEGIN AUTHOR STYLING
	============================================== */


* {
	background-color: black;
	color: white;
	/*outline: 1px solid rgb(0,0,255);*/
}

.container,
 {
	height: 100%;
	width: 100%;
}

.mobile {
	display: none;
}

/* 	======================
	TYPOGRAPHY
	====================== */


.name {
	text-align: left;
	padding-left: 20px;
}

.year {
	text-align: center;
}

.about-name {
	text-align: right;
	padding-right: 20px;
	text-decoration: underline;
}

td {
	padding-top: 10px;
}

h1,
td {
	font-family: 'Cousine', monospace;
	font-size: 12px;
}

h1 {
	margin-top: 10px;
	text-align: center;
}

.name {
	margin-bottom: 15px;
}

a:link,
a:visited {
	color: white;
}

a:hover {
	color: red;
}

.italic {
	font-style: italic;
}



/* 	======================
	LAYOUT
	====================== */

table {
	width: 100%;
	position: fixed;
	table-layout: fixed;
	top: 0;
	height: 30px;
	background-color: white;
	border-bottom: 1px solid white;
}

.header {
	display: inline-block;
	position: fixed;
	top:0;
	left: 0;
	right:0;
	height: 40px;
}

.proj-list a {
	float: left;
	width: 23.75%;
	margin-top: 1%;
	margin-left: 1%;
}

a:nth-of-type(3n) {
  /*margin-right: 10%;*/
}

img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
}

.proj-list {
	margin-top: 30px;
}

.archive {
	clear: left;
	padding-top: 50px;
}

h1.archive-title {
	width: 100%;
	border-bottom: 1px solid black; 
}

.archive {
}

.archive-container {
	overflow-x:scroll;
}

.row1 a {
	overflow-x:scroll;
	height: 67px;
	width: auto;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}

@media screen and (min-width: 1300px) {
	.proj-list a {
		float: left;
		width: 21.25%;
		margin-top: 3%;
		margin-left: 3%;
	}
}

@media screen and (max-width: 950px) {
	.proj-list a {
		display: inline-block;
		float: none;
		width: 48.3%;
		margin-right: 0;
	}
}

@media screen and (max-width: 750px) {

	table {
		height: 40px;
	}

	.name {
		display: none;
	}

	.year {
		font-size: 15px;
		text-align: left;
		padding-left: 20px;

	}
	
	.year,
	.about-name {
		padding-top: 13px;
	}

	.about-name a {
		font-size: 15px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

}

@media screen and (max-width: 600px) {
	.proj-list a {
		display: block;
		float: left;
		width: 50%;
		margin-left: 0;
		padding-top: 0;
		margin-top: 0;
		margin-right: 0;
	}

	.proj-list a h1 {
		display: none;
	}


}
