/* 	================= 
		MAIN.CSS
	================= */


/* !!! CSS RESET !!! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 	==============================================
		BEGIN AUTHOR STYLING
	============================================== */


* {
	/*background-color: rgba(255, 0, 0, 0.2);*/
	/*outline: 1px solid rgb(0,0,255);*/
}

body { 
  background: url(../img/background/1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
	height: 100%;
	width: 100%;
}

.mobile {
	display: none;
}

/* 	======================
	TYPOGRAPHY
	====================== */

h1, h2 {
	font-family: 'Cousine', monospace;
	font-size: 12px;
}

.name {
	margin-bottom: 15px;
}

h2 {
	margin-bottom: 15px;
	line-height: 20px;
}

a:link,
a:visited {
	color: black;
}

a:hover {
	color: red;
}

.italic {
	font-style: italic;
}



/* 	======================
	LAYOUT
	====================== */

.info {
	position: fixed;
	right: 100px;
	top:25%;

}

@media screen and (min-width: 1300px) {
	body {
		-webkit-background-size: 80%;
		-moz-background-size: 80%;
		-o-background-size: 80%;
		background-size: 80%;
	}
}

@media screen and (max-width: 950px) {
	.info {
		right: 50px;

	}
}

@media screen and (max-width: 850px) {
	.info {
		right: 25px;

	}

}

@media screen and (max-width: 600px) {

	body { 
	  background: none;
	  background-color: black;
	}
	.info {
		position: relative;
		display: block;
		margin-top: 15%;
		margin-bottom: 15%;
		margin-right: 0;
		margin-left: 0;
		right: 0;
		left: 0;
		text-align: center;
		width: 100%;

	}

	h1, h2 {
		font-family: 'Cousine', monospace;
		font-size: 18px;
		color: white;
	}

	.name {
		font-size: 18px;
		margin-bottom: 24px;
	}

	h2 {
		margin-bottom: 24px;
		line-height: 35px;
	}

	a:link,
	a:visited {
		color: white;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	a:hover {
		font-style: italic;
		color: white;
	}

	.italic {
		font-style: italic;
	}
}